# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment variables
.env
.env.local

# Node / React
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log
# FastF1 cache
backend/cache/
